*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

:root{
    --default-background: #F8F8F9;
    --black-background: black;
    --rectangl-line: #FFACC4;
    --label-color: #c6c1c1;
    --input-field-text: #323232;
    --unit: 10px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: var(--default-background);
}

.reg-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background: #FFFFFF;
    padding-top: 24px;
}


.reg-content {
    display: flex;
    flex-direction: column;
    max-width: 496px;
}

.reg-container-final{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    width: 100%;
    background: #FFFFFF;
}

.reg-content-final {
    display: flex;
    padding: 0 33px 0 40px;
    flex-direction: column;
    align-items: center;
    max-width: 452px;
}

.reg-content-final p{
    text-align: center;
}

.reg-container-final .reg-buttons-container{
    margin-top: 20px;
}

.logo{
    margin-bottom: 80px;
    align-self: center;
    justify-self: center;
}

.logo-final{
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
}

.check{
    margin: 64px 0 40px 0;
    align-self: center;
    justify-self: center;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 496px;
}

.reg-h2{
    position: relative;
}

.reg-text{
    margin: 16px 0 28px;
}

.reg-text a{
    color: #f81f1f;
    font-weight: bold;
}

.reg-container h2{
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    position: relative;
    z-index: 1;
}

.reg-container-final h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    position: relative;
    z-index: 1;
}

.reg-container p, .reg-container-final p{
    font-size: 16px;
    line-height: 150%;
}

.rectangl-line{
    width: 113px;
    height: 12px;
    background: var(--rectangl-line);
    z-index: 0;
    left: 52px;
    position: absolute;
    bottom: 5px;
}

.rectangl-line-final{
    width: 134px;
    height: 12px;
    background: var(--rectangl-line);
    z-index: 0;
    left: 123px;
    position: absolute;
    bottom: 5px;
}

.info-container{
    width: 40%;
    background-image: url('../src/img/background.png');
    background-position: bottom 160px left -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.info-container h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 24px;
}

.info-container p{

    margin-bottom: 16px;
    font-size: 16px;
    line-height: 150%;
    position: relative;
}

.info-p-vector{
    margin-left: 28px;
}

.info-p-vector:before{
    content: '';
    width: 19px;
    height: 17px;
    position: absolute;
    background-image: url(../src/img/Vector.png);
    left: -28px;
    bottom: 3px;
}

.tech-logo-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    margin-top: 24px;
}

.tech-logo-container:last-child{
    margin-top: 26px;
}

.tech-logo{
    margin-left: 20px;
}

.tech-logo:first-child{
    margin: 0;
}

.accept-privacy-container{
    display: flex;
    align-items: center;
    color: var(--label-color);
    font-size: 14px;
    line-height: 150%;
}

.accept-privacy-container a{
    color: var(--label-color);
}

.accept-privacy-container span{
    margin-left: 8px;
}

.reg-buttons-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0;
}

.reg-buttons-container .reg-button{
    margin-top: 15px;
    padding: 12px 45px;
}

/*-----------------------[ Input ]----------------------------------------*/

input {
    outline: none;
    border: none;
}

.input-full-name{
    display: flex;
    justify-content: space-between;
}

.form-input50 {
    width: 232px;
    border-bottom: 2px solid var(--label-color);
}

.input-container{
    position: relative;
}

.validate-form-page2 .input-container{
    margin-top: 24px;
}

.input-container-page2:first-child{
    margin-top: 0;
}

.form-input100-m48{
    width: 100%;
    position: relative;
    margin-top: 48px;
    border-bottom: 2px solid var(--label-color);
}

.form-input100-m28{
    width: 100%;
    position: relative;
    margin-top: 28px;
    border-bottom: 2px solid var(--label-color);
}

.form-input100-m28:first-child{
    margin-top: 0;
}

.label-input100 {
    font-size: 12px;
    line-height: 150%;
    color: var(--label-color);
    padding-left: 2px;
}

.inputField {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    line-height: 150%;
    color: var(--input-field-text);
    padding: 2px 2px 6px;
}

.inputCheck{
    width: 16px;
    height: 16px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--input-field-text);
}

.inputField:focus + .focus-input100::before {
    width: 100%;
}

.has-val.inputField + .focus-input100::before {
    width: 100%;
}

.reg-button{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 120%;
    padding: 12px 75px;
    margin-top:  56px;
    border-radius: 24px;
    background-color: #FF004C;
    border: none;
    align-self: flex-end;
    outline: none;
}


.create-button{
    margin-top: 0;
    padding: 12px 29px;
}

.becomePro-button{
    color: #FF004C;
    font-size: 14px;
    line-height: 120%;
    padding: 12px 45px;
    background-color: #FFF;
    border: 1px solid #FF004C;
    box-sizing: border-box;
    border-radius: 24px;
    align-self: flex-end;
    outline: none;
}

.reg-button a, .create-button a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.becomePro-button a{
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FF004C;
    text-decoration: none;
}

.back-to-first-page{
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: var(--label-color);
}

.thank-button-container{
    display: flex;
}

/*-----------------------[ Alert validate ]---------------------------*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 30px 4px 10px;
    bottom: calc((100% - 25px) / 2);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;

    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    bottom: calc((100% - 25px) / 2);
    transform: translateY(50%);
    right: 8px;
}

.error-text{
    font-size: 12px;
    line-height: 150%;
    color: #FF1E1E;
    display: none;
    position: absolute;
    right: 0;
    bottom: -24px;
}

.error-check-text{
    font-size: 12px;
    line-height: 150%;
    color: #FF1E1E;
    display: none;
    position: absolute;
    left: 0;
    bottom: -24px;
}

.error-text.show {
    display: block;
}

.error-validate{
    border-bottom: 2px solid #FF1E1E;
}

.check-validate{
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    width: 13px;
    height: 10px;
}

.true-validate::after {
    content: "";
    font-size: 22px;
    width: 13px;
    height: 10px;
    color: #00ad5f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../src/img/validate.png");
    position: absolute;
    bottom: 14px;
    right: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

@media (max-width: 900px){
    .wrapper{
        flex-direction: column;
        height: 100%;
    }
    .reg-button {
        align-self: center;
    }
    .reg-container {
        width: 100%;
    }
    .reg-text{
        margin: 16px 0 0;
    }
    .info-container {
        width: 100%;
        padding: 63px 0 240px 0;
    }
    /*.reg-buttons-container{*/
    /*    margin: 48px 0;*/
    /*}*/
    .input-full-name {
        flex-wrap: wrap;
    }
    .form-input50 {
        width: 100%;
    }
    .input-container {
        width: 100%;
        margin: 37px 0 0;
    }
    .input-full-name .input-container {
        width: 100%;
        margin: 30px 0 0;
    }
    .form-input100-m48 {
        margin-top: 0;
    }
}
